@page "/stateservice"
@inject Gyakorlas.Services.StateService StateService
@implements IDisposable

<!--dióhélyban a private visibility miatt nem fér hozzá a listához csak az aki hozzáfér a service-hez.->

<ul>
    @* @foreach (var m in StateService.GetMessage()) *@
    @foreach (var m in messages3)
    {
        <li>@m</li>    
    }
</ul>


<button class="btn btn-primary" @onclick="AddMessage">Üzenet hozzáadása</button>

<h3>StateServiceShowPage</h3>

@code {

    List<string> messages3 = new List<string>();

    private void AddMessage()
    {
        //StateService.AddMessage($"Új üzenet éppen ebben az időpontban: ]| {DateTime.Now} |[");    
        messages3.Add($"Új üzenet éppen ebben az időpontban: ]| {DateTime.Now} |[");
    }

    public void Dispose()
    {
        //StateService.OnChange -= StateHasChanged;    
    }

    protected override void OnInitialized()
    {
        //StateService.OnChange += () => InvokeAsync(StateHasChanged);
    }


}
