@using System.Linq.Expressions

<h3>íme egy gomb ami frissíti a (string) "Valu" értékét</h3>

<!--íme egy segédosztály ami frissíti a string valu értékét-->

<button class="btn btn-primary" @onclick="UpdateValueAsync">Update me :)</button>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public Expression<Func<string>> ValueExpression { get; set; }

    private async Task UpdateValueAsync()
    {
        Value = DateTime.Now.ToString();
        //ehhez kell majd egy segéd event figyelő a "ValueChanged"
        await ValueChanged.InvokeAsync(Value);
    }

}
