<!--ebbe lesz az EventCallback.razor div-je kiszervezve mint komponens->

<div class="container mt-4" style="max-width: 600px;">
    <div class="card shadow-sm border-0 rounded-3 p-4 bg-light">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
